@CHARSET "ISO-8859-1";
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 0px;
    margin-top: 120px;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
.page-header h1{
    color:red;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.tblselect 
{
    background:#fff;
    margin:auto;
    border:1px solid gray;

    width:900px;
    height:auto;

}
.tblnvl
{
    width:640px;
    border:2px solid gray;
    background:#ffffff;
    margin:auto;
    border:none;


    border-radius:10px;
}
.tblnvl tr.special
{

    color:red;
    font-size:30px;
    text-transform:uppercase;
}

.tblnvl tr,.tblnvl td,.tblnvl th
{
    border:none!important;
}

.tblnvl th{
    text-align:center;
}

.frmnvl label
{
    display:inline-block;
    text-align:left;
    WIDTH:150PX;
}

body
{
    background:url("img/bg.png");

}

#pd
{
    padding-top:40px;
}

#pd2
{
    padding-bottom:50px;

}

h2.abc
{
    text-align:center;
}

.errors
{
    color:red;

}
.noti
{
    font-weight:bold;
    font-size:20px;
    margin:auto;
    width:400px;
}
.datphatminh{
    margin-bottom:0!important;
}
.gioitinh label
{
    display:inline-block;
    text-align:left;
    WIDTH:260PX;
}

