<div class="user-panel">
	<div class="pull-left image">		
		<img src="{$user.user_avatar}" class="img-circle" alt="User Image" />
	</div>
	<div class="pull-left info">
		{$config_data.config.root_url}
		<p>{$this_view->translator("hello","{$lang_file}")}, {$user.user_name}
		</p>

		<a href="javascript:void();"
		
		onclick="javascript:
		gwt_result('gwt_frm','{$root_url}&controller=user&action=profile&args={$user.user_id}'	
		,'right_main','right_main'); ">
		<i class="fa fa-circle text-success"></i> Profile</a>
		<a href="&action=logout">logout</a>
	</div>
</div>