		<!-- Default box -->
			
	<div>{$upload_result}</div>
		<input type="file" name="file1" id="file1" onchange ="javascript:uploadFile();">	
	<label></label>	
<div class="box box-solid">
			
			<div class="box-body">
			
	{if $files_attached}
		<table>
		<tr style="display:None;">
			<th>image ID</th><th>image url</th>
		</tr>
		{foreach $files_attached key= k item= arr}
			{if $arr.thumb eq 1}  
				{$thumb_checked = "checked='check'"}
				{$cur_thumb = "cur_thumb"}
			{else}
				{$thumb_checked = ""}
				{$cur_thumb = ""}
			{/if}
			{$media_path = "{$root_url}{$fld_code}application/uploads/{$arr.media_fld}/"}
			<tr id="file_attached_{$k}" style="border-bottom: 1px solid #ddd;">
			<td style="display:None;">{$arr.media_id}</td>
			<td style='color:blue;font-style:italic;'>
				<a target="_blank"href="{$media_path}{$arr.media_name}" style="display:none;">
				{$arr.media_name}</a>
				<a href="{$domain}{$media_path}{$arr.media_name}" target="_blank">
				{$domain}{$media_path}{$arr.media_name}</a>
				</td>
			{if $kk eq "9"}<td style="text-align:center;" class="{$cur_thumb}">thumb<input type="radio" name="" name="frm_field[thumb]" 
			value="{$arr.media_name}" onclick="javascript:gwt_result('gwt_html'
			,'{$root_url}&controller={$cur_class}&action=attached_thumb&args={$arr.media_id};{$item_id}'
				,'','uploading_status','');" {$thumb_checked}>
			</td>{/if}
			<td style="width: 50px;vertical-align:top;"><a  href="javascript:void();" onclick="javascript:gwt_result
			('gwt_html','{$root_url}&controller={$cur_class}&action=remove_attached&args={$arr.media_id}'
				,'','file_attached_{$k}','')">remove</td>
			</tr>
		{/foreach}
		</table>
				
	{/if}
	</div><!-- /.box-body -->
</div><!-- /.box -->

	