	<div class="form-group">
	<div id="uploading_status">{$af_button}</div>
	<div id="div_progressBar" style="display:none;">
		<progress id="progressBar" value="0" max="100" style="width:100%;"></progress>		
		<div id="loaded_n_total"></div>
	
	</div>
	</div>