	<tr>
		<th class='details_col'>{$this_view->translator("details")}</th>
		<!--<th class='details_col'>{$this_view->translator("delete")}</th> -->
		{foreach $item_list.fields key=k item=value}
			{if $value.COLUMN_KEY ne "PRI"}
				<th>{$this_view->translator("{$value.label}")}</th>
			{/if}
		{/foreach}
	</tr>
	<style type='text/css'>
		
	</style>

