<div class="edit_field_frm">
{if $column_info.label}
<label for="">{$this_view->translator("{$column_info.label}")}
{if $not_null_star eq true}
<span class='not_null_star'>(*)</span>
{/if}
</label>
{/if}
<div id="column_{$column_info.column_name}">
	{$field_content}
</div>
{if $smarty.get.action eq "item_edit"}
<div class="box-footer">
	<button  style="border:none;" class="my_btn" onclick="javascript:
	document.getElementById('right_main_contain').innerHTML = '';">Submit</button>
</div>
{/if}
</div>

