<select id="" class="form-control" name="frm_field[{$column_info.column_name}]">
	{foreach $column_info.data key=k item=arr}
	<option value="{$arr.{$column_info.fields.0}}" 
	{if $column_info.cur_value eq $arr.{$column_info.fields.0}}selected="select" {/if}
	>{$arr.{$column_info.fields.1}} </option>
	{/foreach}
</select>