<!--<div class="edit_field_frm">
<label for="">{$this_view->translator("{$column_info.label}","{$lang_file}")}
{if $not_null_star eq true}
<span class='not_null_star'>(*)</span>
{/if}
</label>
<div id="">
	<input id="" type='text' value="{$column_info.cur_value}" class="form-control" 
	name="frm_field[{$column_info.column_name}]">
</div>
{if $smarty.get.action eq "item_edit"}
<div class="box-footer">
	<button  style="border:none;" class="my_btn" onclick="javascript:
	document.getElementById('right_main_contain').innerHTML = '';">Submit</button>
</div>
{/if}
</div>
-->
<input id="" type='text' value="{$column_info.cur_value}" class="form-control" 
	name="frm_field[{$column_info.column_name}]">

