<div class="edit_field_frm">
<label for="">{$this_view->translator("{$field_label}","{$lang_file}")}
{if $not_null_star eq true}
<span class='not_null_star'>(*)</span>
{/if}
</label>
<div id="frm_{$row_id}">
	<textarea id="field_{$row_id}" class="form-control" name="frm_field[{$tbl_col}]">{preg_replace('#<br\s*/?>#i', "\n", $cur_value)}</textarea>
</div>
{if $smarty.get.action eq "item_edit"}
<div class="box-footer">
	<button  style="border:none;" class="my_btn" onclick="javascript:
	document.getElementById('right_main_contain').innerHTML = '';">Submit</button>
</div>
{/if}
</div>

