<div class="edit_field_frm">
<label for="">{$field_label}
{if $not_null_star eq true}
<span class='not_null_star'>(*)</span>
{/if}</label>
<div id="frm_{$row_id}">
{foreach $select_list key=k item=arr}
	<div>
	<input type="radio" name="frm_field[{$tbl_col}]" value="{$arr.{$sl_fields.0}}"
	{if $cur_value eq $arr.{$sl_fields.0}}checked="check" {/if}>
	{$arr.{$sl_fields.1}}{if $arr.{$sl_fields.2}} : {$arr.{$sl_fields.2}} {/if}</div>
{/foreach}
</div>
{if $smarty.get.action eq "item_edit_frm"}
<div class="box-footer">
	<button  style="border:none;" class="my_btn" onclick="javascript:
	document.getElementById('right_main_contain').innerHTML = '';">Submit</button>
</div>
{/if}
</div>

