{if $ip.num_rows_total gt 0}
<form method="POST"  >
{if $ip.num_rows_show lt $ip.num_rows_total}	
	{$num_rows_show = $ip.num_rows_show}
{else}	
	{$num_rows_show = $ip.num_rows_total}	
{/if}
{if $ip.num_rows_show}
	<div style="">showing {$ip.num_rows_show}/{$ip.num_rows_total}
	{if $ip.num_pages ne '1'}
	<span style='color:#ddd'>|</span>
	page <select class="item_pages_sl" name="new_page" onchange="this.form.submit();">
	{for $i=1 to $ip.num_pages}
	<option	{if $smarty.get.pp eq $i} selected = "select" {/if}>{$i}</option>
	{/for}
	</select> 
	{/if}
	</div>
{/if}
</form>
{else}
	not found
{/if}