{function field_list}
	{if $edit_button eq true}
		{if $tl_arr}
		<td class='details_col'><a href="javascript:void();" onclick="javascript:
		this.innerHTML = 'loading...';
		gwt_result
		('gwt_frm','{$root_url}&controller={$cur_class}&action=item_update_frm&args={$tl_arr.{$primary_key}}'
			,'right_main','right_main');">{$this_view->translator("edit_button","{$lang_file}")}
			</a></td>
		{else}
			<th class='details_col'>{$this_view->translator("details","{$lang_file}")}</th>
		{/if}
	{/if}
	{if $delete_button eq true}
		{if $tl_arr}
			<td>
				<a href= "javascript:void();" class='' style="color:red;" onclick="javascript:	
					var result = confirm('{$this_view->translator('delete_confirm',{$lang_file})}');
					if (result) {
						gwt_result
						('gwt_html','{$root_url}&controller={$cur_class}&action=item_del&args={$tl_arr.{$primary_key}}'
						,'','right_main','')
					}
				">{$this_view->translator('delete_button',{$lang_file})}</a>
			</td>
		{else}
			<th class='details_col'>{$this_view->translator("delete","{$lang_file}")}</th>
		{/if}
	{/if}
	
	{foreach $fields key=field_key item=field_arr}		
		{if $field_arr.field_label ne "" and $field_arr.field_type ne "not_show_list"}
			{if $tl_arr}
				<td>{$tl_arr.{$field_arr.tbl_col}}</td>				
			{else}
				{if 	$smarty.get.order_by eq {$field_arr.tbl_col}}
					{if $smarty.get.sort eq "ASC"}
						{$sort	= "DESC"}
						{$sort_show	= "DESC"}
					{else}
						{$sort		= "ASC"}
						{$sort_show	= "ASC"}
					{/if}
				{else}
					{$sort	= "ASC"}
					{$sort_show	= ""}
				{/if}
				<th>{$this_view->translator("{$field_arr.field_label}","{$lang_file}")}<br>
				<a href="javascript:void()" onclick="javascript:this.innerHTML = 'loading...';
				gwt_result
		('gwt_html','{$root_url}&controller={$cur_class}&action=item_list&order_by={$field_arr.tbl_col}&sort={$sort}','right_main','right_main');">sort {$sort_show}</a>
				</th>				
			{/if}
		{/if}	
	{/foreach}
		
{/function}
{$tbl_title 	= {field_list fields=	$config_fields}}

<div class="row" id="{$this_class->pos}_{$this_class->pos_id}" style="">
<div class="col-xs-12">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">{$config_table_title}</h3>
		</div><!-- /.box-header -->
		<div class="box-body table-responsive">
		<div style="float:left;width:100%;">
		<div style="float:left;">
		{if $add_new_button eq true}
		<a href="javascript:void();" onclick="javascript:
		this.innerHTML = 'loading...';
		gwt_result
		('gwt_frm','{$root_url}&controller={$cur_class}&action=item_add_new','right_main','right_main');		
		" class="btn" style="border:none;box-shadow:none;">
		{$this_view->translator("add_new_button","{$lang_file}")}
		</a>
		{/if}
		
		</div>
		<div style="float:right;margin-bottom:0px;">{$item_pages}</div>
		</div><br>
		{if $item_list}			
			<table id="" style="" class="table table-bordered table-hover">
				<thead><tr>{$tbl_title}</tr></thead>
				<tfoot><tr>{$tbl_title}</tr></tfoot>
				<tbody>
				{foreach $item_list key=tl_k item=tl_arr}
				<tr>
					{field_list fields	= $config_fields 
						tl_arr 			= $tl_arr
						primary_key		= $config_primary_key}
				</tr>
				{/foreach}
				</tbody>
			</table>
		{else}
			
		{/if}
		<script type="text/javascript">
		
	</script>
		</div><!-- /.box-body -->
	</div><!-- /.box -->
</div>
</div>


