<!---iframe src="/"  style="display:none;" 
onload='javascript:
	get_item_list("get_item_list","get_item_list_status","tab_2_content");
'
onunload='javascript:_("tab_2_content").className = "show_class"';
></iframe --->

<div class="col-md-6">
	<!-- Custom Tabs -->
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class="active" id="menu_tab_1"><a data-toggle="tab" href="#tab_1"
				onclick="javascript:
					_('tab_1').innerHTML = 'loading...';
		ajax_get('{$item_list.root_url}&controller={$item_list.cur_class}&action=item_details&args={$smarty.get.args}'
			,'right_main');
					
				"
			>
			{$this_view->translator("details")}</a></li>
			<li id="menu_tab_2">
				<a data-toggle="tab" href="#tab_2" onclick='javascript:'>
				{$this_view->translator("edit_button")}
				</a>
			</li>
			<li><a data-toggle="tab" href="#tab_3">
			{$this_view->translator("delete_button")}
			</a></li>
			<li><a   href="" onclick="javascript:this.innerHTML = 'loading...'">
			{$this_view->translator("item_list")}
			</a></li>
			{if $show_dropdown}
			<li class="dropdown" style='display:none;'>
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">
					Dropdown <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
					<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
					<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
					<li class="divider" role="presentation"></li>
					<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
				</ul>
			</li>
			<li class="pull-right"><a class="text-muted" href="#"><i class="fa fa-gear"></i></a></li>
			{/if}
		</ul>
		<div class="tab-content">
			<div id="tab_1" class="tab-pane   active">
			<dl class="dl-horizontal">
			
			{foreach $item_list.fields key=field_k item=field_value}
				{if $field_value.COLUMN_KEY ne "PRI"}
				<dt>{$this_view->translator("{$field_value.label}")}</dt>
				<dd>
					{if $data.item_list.0.{$field_value.column_name}}
						{$data.item_list.0.{$field_value.column_name}}
					{else}
						<span style='color:#ddd;'>---</span>
					{/if}
				</dd>
				{/if}
			{/foreach}
			</dl>
			</div><!-- /.tab-pane -->
			<div id="tab_2" class="tab-pane " >
				<div id='get_item_list_status'></div>
				<div id="tab_2_content" class="">
				{include file="{$this_view->default_template_folder.dir_document_root}item_form.html"}
				</div>
			</div><!-- /.tab-pane -->
			
			<div id="tab_3" class="tab-pane">			
			<div class="alert alert-danger alert-dismissable">
				<i class="fa fa-ban"></i>
				<div id="delete_status">
				<b>Alert!</b> <span style='margin-right:10px;'>{$this_view->translator("delete_confirm")}</span>
				
				
				<a href='javascript:void();' onclick='javascript:
				ajax_get("{$item_list.root_url}&controller={$item_list.cur_class}&action=item_delete&args={$smarty.get.args}",
								"tab_3");
				_("delete_status").innerHTML	= "deleting...";
				_("menu_tab_1").style.display	= "none";	
				_("menu_tab_2").style.display	= "none";	
				'>{$this_view->translator("yes")}</a>
				</div>
			</div>
			</div><!-- /.tab-pane -->
			<div id="tab_4" class="tab-pane " >
				...loading...
			</div><!-- /.tab-pane -->
		</div><!-- /.tab-content -->
	</div><!-- nav-tabs-custom -->
</div>

