<div class="col-md-6">
	<!-- Custom Tabs -->
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tab_1" onclick="javascript:
				_('items_form').style.display	= 'block';
			">
				{$this_view->translator("item_add_new")}</a>
			</li>			
			<li><a   href="" onclick="javascript:this.innerHTML = 'loading...'">
				{$this_view->translator("item_list")}</a>
			</li>
			
		</ul>
		<div class="tab-content">
			<div id="tab_1" class="tab-pane  active">
				{include file="{$this_view->default_template_folder.dir_document_root}item_form.html"}
			</div><!-- /.tab-pane -->
			<div id="tab_4" class="tab-pane " >
				...loading...
			</div><!-- /.tab-pane -->
			
		</div><!-- /.tab-content -->
	</div><!-- nav-tabs-custom -->
</div>