
{if $updated_status eq false}
<div class="edit_form" style="float:left;width:100%;">
<div id="popup_window">
{/if}
	<div style="" class="row">
	<div class="col-md-12">
		<!-- Primary box -->
		<div class="box box-solid box-primary">
			<div class="box-header">
				<h3 class="box-title">{$this_view->translator("details","{$lang_file}")}</h3>
				<div class="box-tools pull-right">
					<button data-widget="collapse" class="hide_class btn btn-primary btn-sm"><i class="fa fa-minus"></i></button>
					<a href="" class="btn btn-primary btn-sm" style='color:white;'><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="box-body" style="display: block;background: none repeat scroll 0 0 #eef;
    float: left;width: 100%;min-height:400px;">
				<div class="col-md-6" >
					<div class="box box-primary" >
						<div class="box-header">
							<h3 class="box-title">{$this_view->translator("fields","{$lang_file}")}</h3>
						</div>
					<div class="box-body" id="cur_item_details">
					<div class="hide_class" id="item_edit_popup" style="margin-bottom:0px;">
						<div class="popup_content" >
						<div class="popup_header">
							{$this_view->translator("update_frm","{$lang_file}")}
							<div class="popup_close_btn ">
							<a href="javascript:void();" style="color:white;" onclick="javascript:
							document.getElementById('item_edit_popup').className = 'hide_class';
							">x</a></div>
						</div><br>
						<div id="item_edit_frm"></div>
						</div>
					</div>
					{$before_fields}
					<table>	
					{foreach $frm_content key=k item=arr}
					<tr class="form-group">
						<th class='details_titlte'><label >{$this_view->translator({$arr.field_label},{$lang_file})}</label></th>
						<td style="max-width: 70px;">		
							<a href="javascript:void();" onclick="javascript:
							document.getElementById('item_edit_popup').className = 'popup_background';
							gwt_result
						('gwt_frm','{$root_url}&controller={$cur_class}&action=item_edit&args={$arr.field_id};{$item_id};{$arr.frm_type};{$arr.field_name}'
							,'popup_window','item_edit_frm','edit_frm_item')">
							{if $arr.cur_value}
								{$arr.cur_value} 
							{else}
								--- 
							{/if}
							</a>
						</td>
					</tr>
					{/foreach}		
					</table>
					{$after_fields}
					
					</div>
					<div class="box-footer" style="text-align:center;padding: 25px;">
						<a href="javascript:void();" class='my_btn' style="background:red;"
						onclick="javascript:gwt_result
					('gwt_html','{$root_url}&controller={$cur_class}&action=del_item&args={$item_id}','','popup_window','')"
						>{$this_view->translator("delete_button","{$lang_file}")}</a>
						<a href="" class='my_btn' style="color:white;"
						onclick="javascript:document.getElementById('head_form').innerHTML = '...backing...';" 	
							>{$this_view->translator("back_link","{$lang_file}")}</a>
					</div>	
					</div>
				</div>
				{if $attach_frm}
				<div class="col-md-6" >
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">{$this_view->translator("attach_file","{$lang_file}")}</h3>
						</div>
						<div class="box-body">{$attach_frm}</div>
					</div>
				</div>	
				{/if}
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>
	
	
	
	
	
	
</div>
{if $this_class->updated eq false}
</div></div>
{/if}
