<!-- sidebar menu: : style can be found in sidebar.less -->

<ul class="sidebar-menu">
	<li class="">
		<a href="{$menu_config.root_url}">
			<i class="fa fa-dashboard"></i> <span>Dashboard</span>
		</a>
	</li>
	{foreach $pages key=k item=arr}
		<li class="
		{if $smarty.get.page eq $k}
			active
		{/if}
		">
			<a href="{$root_url}{$k}">
				<i class="fa fa-edit"></i> <span>{$arr}</span>
				<i class="fa pull-right fa-angle-left"></i>
			</a>
			
		</li>
	{/foreach}
	
	
	{foreach $menu_config.list item=menu_list}		
		{if $menu_list.sub_menu}
		
		{if $menu_list.check_active eq '1'}
			{$cur_class = "active"}
			{$display	= "block;"}
		{else}	
			{$cur_class = ""}
			{$display	= "none;"}
		{/if}
		
		<li class="treeview">
			<a href="{$menu_list.menu.menu_url}">
				<i class="fa fa-edit"></i> <span>{$menu_list.menu.menu_label}</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>			
			<ul class="treeview-menu {$cur_class}" style="display:{$display}">
				{foreach $menu_list.sub_menu item= arr}
					<li class="{$arr.sub_menu_class}"><a href="{$arr.sub_menu_url}">
					<i class="fa fa-angle-double-right"></i>{$arr.sub_menu_label}</a></li>
				{/foreach}				
			</ul>
		</li>
		{else}
			<li class="{$menu_list.menu.menu_class}">
				<a href="{$menu_list.menu.menu_url}">
					<i class="fa fa-edit"></i> <span>{$menu_list.menu.menu_label}</span>
				</a>
			</li>
		{/if}
	{/foreach}
	

</ul>