{$user_name	= $this_view->translator("user_name","{$lang_file}")}
{$sign_in	= $this_view->translator("sign_in","{$lang_file}")}
{$user_pass	= $this_view->translator("user_password","{$lang_file}")}
<div id="login-box" class="form-box">
	<div class="header">{ucwords({$sign_in})}</div>
	
	<form method="post" action="">
		{if $args.result eq "login_success"}
			<div class="body bg-gray">
				<div class="form-group login_success">
					{$this_view->translator("{$args.result}","{$lang_file}")}
<image style="height:20px;" src="/{$this_view->default_library}images/loading_facebook.gif"/>					
				</div>
			</div>
			<meta http-equiv="refresh" content="3; url={$this_view->root_url}admin/" />
		{else}
		<div class="body bg-gray">
			{if $args.result ne "not_show"}
			<div class="form-group login_error">
				{$this_view->translator("{$args.result}","{$lang_file}")}	
			</div>
			{/if}
			
			<div class="form-group">
				<input type="text" placeholder='{ucfirst({$user_name})}' class="form-control" 
					value="{$smarty.post.user_name}" name="data_post[user_name]" >
			</div>
			<div class="form-group">
				<input type="password" placeholder="{ucfirst({$user_pass})}" 
				class="form-control" name="data_post[user_password]" >
			</div>          
			<div class="form-group" style="display:none;">
				<input type="checkbox" name="remember_me"> Remember me
			</div>
		</div>
		<div class="footer">                                                               
			<button class="btn bg-olive btn-block" type="submit">
			{ucfirst($this_view->translator("sign_me_in",$lang_file))}</button>  
			<!---
			<p><a href="#">{ucfirst($this_view->translator("forgot_password",$lang_file))}</a></p>
			
			<a class="text-center" href="{$args.config.root_url}register/">
			{ucfirst($this_view->translator("register_a_new_membership",$lang_file))}</a>
			-->
		</div>
		{/if}
	</form>


</div>