<div class="alert alert-success alert-dismissable">
	<i class="fa fa-check"></i>
	{if $update_result eq "update_successful"}
		<iframe src="" onload="javascript:
		window.location.href='#right_main';
		" style='display:none;'></iframe>
		<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	{elseif $update_result eq "add_new_successful"}
		<iframe src="" onload="javascript:_('items_form').reset();" style='display:none;'></iframe>
	{/if}
	
	{if $update_result eq "add_new_successful" 
		or	$update_result eq "delete_successful" }
		<button aria-hidden="true" data-dismiss="alert" class="close" type="button"
			onclick="javascript:
				
				_('items_form').style.display	= 'block';
			"
		>×</button>
	{/if}
	
	<b>OK!</b> {$this_view->translator("{$update_result}")}.
</div>

