<div style='' id="re_div" class="col-xs-20">
<div class="box box-primary">
  <div class="box-header" style="padding:10px;"> 
{$status}
	<img id="img_redirect" onload="
		javascript:setInterval(function () { 			
			document.getElementById('frm_redirect').submit();
		}, {$sleep_time});
		
		"
	src="{$core_folder}library/images/page-loader.gif">
	
</div>
</div>	
	<form action="{$target}" method="POST" id="frm_redirect" style="display:None;">
	<input type="hide" name="redirect" value="1">
	</form>
</div>



