{$user_name	= $this_view->translator("user_name","{$lang_file}")}
{$full_name	= $this_view->translator("full_name","{$lang_file}")}
{$register_new_membership	= $this_view->translator("register_new_membership"
	,"{$lang_file}")}
{$user_pass	= $this_view->translator("user_pass","{$lang_file}")}
{$retype_password	= $this_view->translator("retype_password","{$lang_file}")}

<div id="login-box" class="form-box">
	<div class="header">{ucwords({$register_new_membership})}</div>
	<form method="post" action="">
		{if $args.result eq "register_success"}
			<div class="body bg-gray">
				<div class="form-group login_success">
					{$this_view->translator("{$args.result}","{$lang_file}")},
					<a style="text-decoration: underline;" class="text-center" 
					href="{$args.config.root_url}login/">
	{ucfirst($this_view->translator("click_here_to_login",$lang_file))}</a> 
				</div>
			</div>
			
		{else}
		<div class="body bg-gray">
			{if $args.result ne "not_show"}
			<div class="form-group login_error">
				{$this_view->translator("{$args.result}","{$lang_file}")}?	
			</div>
			{/if}
			{if $show_fullname}
			<div class="form-group">
				<input type="text" placeholder="{ucfirst({$full_name})}" 
				value="{$smarty.post.full_name}" class="form-control" name="full_name">
			</div>
			{/if}
			<div class="form-group">
				<input type="text" placeholder='{ucfirst({$user_name})}' 
				value="{$smarty.post.user_name}" class="form-control" name="user_name" >
			</div>
			<div class="form-group">
				<input type="password" placeholder="{ucfirst({$user_pass})}" 
				class="form-control" name="user_pass" >
			</div>
			<div class="form-group">
				<input type="password" placeholder="{ucfirst({$retype_password})}" class="form-control" 
				name="retype_password">
			</div>
		</div>
		<div class="footer">                    

			<button class="btn bg-olive btn-block" type="submit">
	{ucfirst($this_view->translator('sign_me_up',$lang_file))}</button>

			<a class="text-center" href="{$args.config.root_url}login/">
	{ucfirst($this_view->translator("i_already_have_a_membership",$lang_file))}</a>
		</div>
		
		{/if}
	</form>


</div>