<!-- search form -->
<form action="index.php" method="post" class="sidebar-form">
	<div class="input-group">
		<input type="text" name="{$key_word}" class="form-control" placeholder="{$key_word_show}"
			value="{$smarty.post.{$key_word}}"
		/>
		<span class="input-group-btn">
			<button type='submit' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
		</span>
	</div>
</form>
<!-- /.search form -->