<ul class="sidebar-menu">
	<li>
		<a href="#">
			<i class="fa fa-dashboard"></i> <span>Menu</span>
		</a>
	</li>
	{foreach $data key=k item=arr}
	<li>
		<a href="{$arr.url}">
			<i class="fa fa-th"></i> <span>{$this_view->translator("{$arr.text}")}</span> 
			<small class="badge pull-right bg-green hide_class" >pending</small>
		</a>
	</li>
	{/foreach}
</ul>