<!--h2 class="page-header">AdminLTE Custom Tabs</h2 -->
{$cur_date	= date('m',time())}
<div class="row">
	<div class="col-md-12">
		<!-- Custom Tabs -->
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
			{for $month=1 to 12}	
				<li class="
					{if $month eq $cur_date}
					active
					{/if}
				"><a data-toggle="tab" href="#tab_{$month}">T{$month}</a></li>
			{/for}	
				<li class="pull-right"><a class="text-muted" href="#"><i class="fa fa-gear"></i></a></li>
			</ul>
			<div class="tab-content">
				{for $month=1 to 12}
				<div id="tab_{$month}" class="tab-pane 
					{if $month eq $cur_date}
					active
					{/if}
					">
					
{if $month eq $cur_date}
<div class="box-header" style='display:none;'>
	<h3 class="box-title">{$this_view->translator("{$data.table_title}")}</h3>
</div><!-- /.box-header -->

<div class="box-body table-responsive">
<div style="float:left;width:100%;">
<div style="float:left;">
{if $add_new_button ne true}
<a href="javascript:void();" onclick="javascript:
	this.innerHTML = 'loading...';
	ajax_get('{$item_list.root_url}&controller={$item_list.cur_class}&action=item_add_new','right_main');
" class="btn" style="border:none;box-shadow:none;">
{$this_view->translator("add_new_button")}
</a>
{/if}
{$table_tools}	
</div>
<div style="float:right;margin-bottom:0px;">
{if $data.num_rows_total gt 0}
	{if $data.num_rows_show lt $data.num_rows_total}	
		{$num_rows_show = $data.num_rows_show}
	{else}	
		{$num_rows_show = $data.num_rows_total}	
	{/if}
	{if $data.num_rows_show}
		<div style="">showing {$data.num_rows_show}/{$data.num_rows_total}
			{if $data.num_pages ne '1'}
			<span style='color:#ddd'>|</span>
			page
			<select class="item_pages_sl" name="new_page" style='' onchange='javascript:
				ajax_get("{$item_list.root_url}&controller={$item_list.cur_class}&action=item_list{$args}&pp="+this.value
			,"right_main");
				
				this.style.background = "yellow";
				this.style.width = "100px";
				this.innerHTML = "<option>...loading...</option>";
				
				'>
				{for $i=1 to $data.num_pages}
				<option	{if $smarty.get.pp eq $i} selected = "select" {/if}>{$i}</option>
				{/for}
			</select> 
			{/if}
		</div>
	{/if}
{else}
	not found
{/if}
</div>
</div><br>
{if $data.item_list}			
	<table id="" style="" class="table table-bordered table-hover">
		<thead>{$column_titles}</thead>
		<tfoot>{$column_titles}</tfoot>
		<tbody>
		{foreach $data.item_list key=item_list_k item=item_list_value}
		<tr>
			<td class='details_col'>
			<a href="javascript:void();" onclick="javascript:
this.innerHTML = 'loading...';
ajax_get('{$item_list.root_url}&controller={$item_list.cur_class}&action=item_details&args={$item_list_value.{$item_list.primary_key}}'
	,'right_main');
">{$this_view->translator('view')}</a>
			</td>
			{if $del_show}
			<td class='details_col'>
			
			<a href= "javascript:void();" class='' style="color:red;" onclick="javascript:	
			var result = confirm('{$this_view->translator('delete_confirm',{$lang_file})}');
			if (result) {
				gwt_result
				('gwt_html','{$item_list.root_url}&controller={$item_list.cur_class}&action=item_del&args={$item_list_value.{$item_list.primary_key}}'
				,'','right_main','');
				this.innerHTML = '..deleting...';
			}
		">{$this_view->translator('delete_button')}</a>
			</td>
			{/if}
			{foreach $item_list.fields key=field_k item=field_value}
				{if $field_value.COLUMN_KEY ne "PRI"}
				<td>{$item_list_value.{$field_value.column_name}}</td>
				{/if}
			{/foreach}
		</tr>
		{/foreach}
		</tbody>
	</table>
{else}
	
{/if}
<script type="text/javascript">

</script>
</div><!-- /.box-body -->
{/if}				
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					{$month}
				</div><!-- /.tab-pane -->
				{/for}
			</div><!-- /.tab-content -->
		</div><!-- nav-tabs-custom -->
	</div><!-- /.col -->

	
</div> <!-- /.row -->
<!-- END CUSTOM TABS -->
<!-- START PROGRESS BARS -->

<!-- END TYPOGRAPHY -->

