<div class="user-panel">
	<div class="pull-left info">
		<p>Xin chào, {$user.user_name}</p>

		<a href="#" style='display:none;'><i class="fa fa-circle text-success"></i> Thông tin</a>
		<a href="{$this_view->root_url}admin/logout">
		<i class="fa fa-circle text-success"></i>	 Thoát</a>
	</div>
</div>