<div class="form-group">
<label>{$this_view->translator("country")}</label>
<select id="" class='form-control' name='' 
	onchange ="javascript:
		ajax_get('/projects/beful_tmp/&controller=city&action=get_dropdown_list&filter_by=country_id&field_name=city_name&args='+this.value
			,'city_dropdown_list');
		" 

>
{$country_list}
</select>
</div>

<div class="form-group">
<label>{$this_view->translator("city")}</label>
<select id="city_dropdown_list" class='form-control' name='' 
onchange ="javascript:
		ajax_get('/projects/beful_tmp/&controller=district&action=get_dropdown_list&filter_by=city_id&field_name=district_name&args='+this.value
			,'field_{$field_name}');
		" 
>
{$city_list}
</select>
</div>

<div class="form-group">
<label>{$this_view->translator("{$field_value.label}")}</label>
{if $item_list.fields.{$field_k}.REFERENCED_TABLE_NAME}						
<select id="field_{$field_name}" class='form-control' 
	name='item_field[{$field_name}]' onchange='javascript:'>
	{$data.item_list.0.drop_down_list.{$data.fields.{$field_k}.column_name}}
</select>
<span ></span>
{/if}
</div>