<div class="col-md-12">
<div class="col-md-6">
		{foreach $item_list.fields key=field_k item=field_value}
			{if $field_value.COLUMN_KEY ne "PRI"}				
				{$cur_value	= $data.item_list.0.{$field_value.column_name}}
				{$cur_value	= str_replace("<br>", "\n", {$cur_value})}
				{$cur_value	= str_replace("<br/>", "\n", {$cur_value})}
				{$cur_value	= str_replace("<br />", "\n", {$cur_value})}
				{$field_name = $data.fields.{$field_k}.column_name}
				{if $field_value.view_file}
					{include file="{$field_value.view_file}"}
				{else}
					<div class="form-group">
	<label>{$this_view->translator("{$field_value.label}")}</label>
	
		{if $item_list.fields.{$field_k}.REFERENCED_TABLE_NAME}						
		<select id="field_{$field_name}" class='form-control' 
			name='item_field[{$field_name}]' onchange='javascript:'>
			{$data.item_list.0.drop_down_list.{$data.fields.{$field_k}.column_name}}
		</select>
		<span ></span>
		{else}							
			<input id="field_{$field_name}" class='form-control' type='text' name='item_field[{$field_value.column_name}]'
			value="{$cur_value}">
		{/if}
						
					</div>
				{/if}
			{/if}
		{/foreach}
</div>
<div class="col-md-6">
	<div class="form-group" >
	<label>Phân quyền</label>
	{for $i=1 to 3}
	<div class="checkbox" style='margin-left:20px;margin-top: 0;'>
		<label class="">
			<div class="" style="">
			<input type="checkbox" style="">
			</div>
			Checkbox 1
		</label>
	</div>
	{/for}
	</div>
</div>
</div>
		<div style='display:none;'>
		<input type="text" name="action" value="item_update">
		<input type="text" name="args" value="{$smarty.get.args}">
		<input type="text" name='controller' value="{$item_list.cur_class}">
		</div>
	
		<button  type='submit' class="btn btn-primary btn-sm">SUBMIT</button>
	