<progress id="upload_progress_bar" value="0" max="100" 
	style="width:300px;display:none;"></progress>
	<div id="submit_status"></div>
	
	<form action="javascript:void();" method="post" id="items_form"
	onsubmit="javascript:
		_('submit_status').innerHTML = '...loading...'
		ajax_post(this.id,'submit_status','upload_progress_bar');
	">
	
<div class="col-md-{$this_view->item_details_view.col_md}">
	<!-- Custom Tabs -->
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class="active" id="menu_tab_1"><a data-toggle="tab" href="#tab_1"
				onclick="javascript:
					_('tab_1').innerHTML = 'loading...';
		ajax_get('{$item_list.root_url}&controller={$item_list.cur_class}&action=item_details&args={$smarty.get.args}'
			,'right_main');
					
				"
			>
			{$this_view->translator("details")}</a></li>
			<li id="menu_tab_2">
				<a data-toggle="tab" href="#tab_2" onclick='javascript:'>
				{$this_view->translator("edit_button")}
				</a>
			</li>
			<li><a data-toggle="tab" href="#tab_3">
			{$this_view->translator("delete_button")}
			</a></li>
			<li><a   href="" onclick="javascript:this.innerHTML = 'loading...'">
			{$this_view->translator("item_list")}
			</a></li>
			
		</ul>
		<div class="tab-content">
			<div id="tab_1" class="tab-pane   active">
			<dl class="dl-horizontal">
			
			{foreach $item_list.fields key=field_k item=field_value}
				{if $field_value.COLUMN_KEY ne "PRI"}
				<dt>{$this_view->translator("{$field_value.label}")}</dt>
				<dd>
					{if $data.item_list.0.{$field_value.column_name}}
						{$data.item_list.0.{$field_value.column_name}}
					{else}
						<span style='color:#ddd;'>---</span>
					{/if}
				</dd>
				{/if}
			{/foreach}
			</dl>
			</div><!-- /.tab-pane -->
			<div id="tab_2" class="tab-pane " >
				<div id='get_item_list_status'></div>
				<div id="tab_2_content" class="">
				{include file="{$this_view->item_details_view.form_file}"}
				</div>
			</div><!-- /.tab-pane -->
			
			<div id="tab_3" class="tab-pane">			
			<div class="alert alert-danger alert-dismissable">
				<i class="fa fa-ban"></i>
				<div id="delete_status">
				<b>Alert!</b> <span style='margin-right:10px;'>{$this_view->translator("delete_confirm")}</span>
				
				
				<a href='javascript:void();' onclick='javascript:
				ajax_get("{$item_list.root_url}&controller={$item_list.cur_class}&action=item_delete&args={$smarty.get.args}",
								"tab_3");
				_("delete_status").innerHTML	= "deleting...";
				_("menu_tab_1").style.display	= "none";	
				_("menu_tab_2").style.display	= "none";	
				'>{$this_view->translator("yes")}</a>
				</div>
			</div>
			</div><!-- /.tab-pane -->
			<div id="tab_4" class="tab-pane " >
				...loading...
			</div><!-- /.tab-pane -->
		</div><!-- /.tab-content -->
	</div><!-- nav-tabs-custom -->
</div>
</form>
