@CHARSET "ISO-8859-1";
.mask {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: transparent;
	opacity: 10;
	height: 100%;
	display: none;
}
select[disabled] {
	background-color: #e6e7e8;
}
a#add_product {
    cursor: pointer;
}
.product_detail_info {
    padding-bottom: 50px;
}
.product_info>div>input, .product_info>div>select, .sale_off_info_right>input, .tbl-left-quotes>input, .tbl-right-quotes>input {
    background: none !important;
}
.search-order img{
    width: 15px;
}
input[type="checkbox"] {
    opacity: 1 !important;
    position: relative;
}
/*không hiện border select trong bảng nữa*/
/*.tbl-order-detail>tbody>tr>td>select {
        border: solid 1px !important;
}*/
.delete_order_line {
    width: 100%;
    height: 40px;
    z-index: 9999;	
}
.don-hang-ban {
    display: none;
}
.don-hang-mua {
    display: block;
}
.orderLineDiscount {
	width: 100%;
    float: left;
}
.tbl-right-quotes {
	width: 70%;
}
.tbl-left-quotes {
	width: 30%;
}