@CHARSET "ISO-8859-1";
.tp-search-box {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
.tp-search-box .input-search {
	width: 100%;
	height: 20px;
	display: block;
	padding: 5px;
}
.tp-search-box .result {
	display: block;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #FFF;
    z-index: 9999; 
	border: 1px solid #CCC;
	border-top: 0px;
}
.tp-search-box .result .item-result {
	cursor: pointer;
	padding: 10px;
	border-top: 1px solid #CCC;
}
.tp-search-box .result .item-result:hover {
	background-color: #CCC;
}
.tp-search-box .result .closeSearch {
	color: #00F;
	cursor: pointer;
	padding: 10px;
	display:block;
}