body {
    padding: 0px;
    margin: auto;
    background-color:#e6e7e8; 
}
.container-header{
    padding: 0px;
    margin: auto;
}
.content{
    width:80%;
    float:right;
}
header{
    background-color: #404042;
    padding: 0px;
    margin: auto;
    height: auto;
    min-height: 51px;
}
.header-menu li{
    list-style-type: none;
    float: left;
    padding: 17px;
    font-size: 15px;
    width:auto;
    text-align: center;
}
.header-menu{
    margin-left: 0px;
    margin-top:-10px;
}
.header-menu li a{
    color: white;
}
.header-menu li:hover{
    text-decoration: none;
    background-color: #2dae4a;
}
.header-menu li a:hover{
    text-decoration: none;
}
.menu-left{
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.user_info{
    width: 15%;
    float:right;
    position: relative;
}
.user_info img{
    float:left;
    margin-right: 10px;
    margin-top: 5px;
    width: 20%;
}
.user{
    color: white;
    font-size: 16px;
    padding-left:0px;
    line-height: 51px;
}
.dropdown-menu {
    background-color: #404042 !important;
    margin-top:0px;
    border: #404042 1px solid;
    right:0px;
    min-width: 100px;
}
.dropdown-menu li a  {
    color: white !important;
}
.dropdown-menu li a:hover {
    color: #000 !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.header-active{
    background-color: #2dae4a;
}
.logo{
    background-color: #7b287c;
    width: 100%;
    position:relative;
    text-align: center;
    float:left;
}
.logo img{
    width: 70%;
    height:80px;
    padding: 15px;
}
.nav-ban-hang .line{
    background-color: #e6e7e8; 
    height: 40px;
}
.nav-ban-hang>.line>h4{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    float:left;
    font-size: 16px;
}
.nav-ban-hang .search-ban-hang{
    float:right;
    margin-right: 10px;
    width: 40%;
    border: #35b151 1px solid;
    border-radius: 15px 15px;
    height: auto;
    margin-top: 5px;
    background-color: white;
    position: relative;
}
.nav-ban-hang .search-ban-hang img{
    width: 5%; 
    height: auto;
    margin-left: 10px;
    padding-bottom: 3px;
}
.search{
    width:auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    margin-top: 1px;
    border: none;
}
.nav-left{
    margin-left: 10px;
    float: left;
}
.nav-left a{
    font-size: 16px;
    color: #2dae4a;
}
.nav-right{
    float:right;
    margin-right:10px;
    margin-top: 5px;
}
.nav-right p{
    font-size: 14px;
}
.left-side{
    float: left;
    width: 20%;
    position: relative;
}
.left-side > ul{
    margin-top: 90px;
}
.left-side ul li{
    list-style-type: none;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100%  40px);
    margin-top: 0px;
    margin-left: -40px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.left-side ul li a{
    text-decoration: none;
    color: #000;
}
.left-side ul li a:hover{
    text-decoration: none;
}
.left-side ul li:hover{
    background-color: #2dae4a;
}
.main_order,.main_new_order,.main_new_product{
    width: 100%;
    text-align: center;
    height: auto;
    float:right;
    margin-top: 0px;
    position: relative;
}
.tbl-main>thead>tr>th{
    border: #000 1px solid;
    text-align: center;
}
.tbl-main>thead>tr>td{
    border: #000 1px solid;
}
.tbl-main> thead > tr > th{
    border: #000 1px solid;
}
.tbl-main{
    border: #000 1px solid;
}
.tbl-main>tbody>tr>td{
    border: #000 1px solid;
}
.header-active>a{
    color: #fff;
}
.clear{
    clear: both;
}
#over {
    display: none;
    background: #828283;
    position: absolute;
    top: 0px;
    width: 100%;
    height:100%;
    opacity: 0.8;
    z-index: 999;
}
a, a:visited, a:active{
    text-decoration:none;
}
.option{
    background-color: #fff;
    height:auto;
    width:500px;
    font-size:14px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:absolute;
    z-index:1000;
    top:0%;
    left:55%;
    margin-left:-300px;
    color: #000;
}
.option-title{
    background: #2DAE4A;
    color: #fff;
    padding-top: 5px;
    font-size: 16px;
    text-align:center;
    padding-bottom: 5px;
    font-weight: bold;
}
.option input
{
    border:1px solid #000;
    color:black;
    height:28px;
    padding:0px 8px;
    word-spacing:0.1em;
    width:200px;
}
.option-content>table{
    text-align: center;
    margin-top: 20px;
    margin-left: 15%;

}
.option-content>table>tbody>tr>td>button:first-child{
    margin-right: 100px;
    margin-left: 20px;
    width: 85px;
}
.exit>button{
    width: 85px;
}
.choose_orderPrices>select, .choose_warehouse>select{
    width: 150px;
}
.tbl-left-option{
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}
.tbl-right-option{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}
.option-content>table>tbody>tr{
    margin-bottom: 10px;
}
.form-new-order>table{
    width: 100%;
    padding-top: 10px;
    background: whitesmoke;
}
.form-new-order input,.form-new-order select{
    border: #000 1px solid; 
    border-radius: 4px;
}
.order-left, .order-right{
    text-align: left;
    width: 50%;
    padding-left: 20px;
    padding-bottom: 5px;
    position: relative;
}
.order-left>div, .order-right>div{
    width: 30%;
    float: left;
}
.order-left>.info-post, .order-right>.info-post{
    width: 70%;
    position: relative;
}
.order-left>.info-post>input, .order-right>.info-post>input{
    padding-left: 5px;
    border: #000 1px solid;
}
.main_order>table>thead>tr>th>label>a>img{
    width: 25px;
    padding-left: 10px;
}
.search_option{
    display:none;
}
.order_search{
    border: #35b151 1px solid;
    border-radius: 5px;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}
.search-date{
    display:none;
    float:right;
    margin-right: 10px;
    height: auto;
    margin-top: 5px;
    width:35%;
    position: relative;
}
.search-date .input-date{
    width:150px;
    border: #35b151 1px solid;
    border-radius: 15px 15px;
    padding-left: 10px;
}
.search-date-left{
    width: 47%;
    float:left;
    position: relative;
    text-align: right;
}
.search-date-right{
    float:right;
    width: 47%;
    position: relative;
    margin-left: 10px;
}
.ws-popover.ws-po-visible{
    z-index: 2000;
}
.search-date-right label, .search-date-left label{
    margin-right: 5px;
}
.search-date-left{
    margin-left: 10px;
}
.search-date-right>.ws-popover>.ws-po-outerbox>.ws-po-arrow{
    left: 60%;
}
.search-date-right>span, .search-date-left>span{
    margin-right: 0px !important;
}
.new_order{
    left:20%;
}
.nav-center{
    width: 300px;
    float:left;
    margin-left: 10%;
}
.order-detail{
    background-color: white;
    height: auto;
    margin-top: -10px;
    position:relative;
}
.tbl-detail{
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
}
.tbl-detail>thead{
    background: whitesmoke;
}
.order-detail>a{
    color:#2cae4a;
}
.add_product{
    text-align: left;
    margin-left: 10px;
    border-bottom: #000 1px solid;
    padding-bottom: 15px;
    margin-right: 10px;
}
.color{
    margin-left: 10px;
    height: 10px;
    background: #d1d3d4;
    margin-right: 10px;
}
.payment{
    float: right;
    text-align: right;
    margin-right: 10px;
}
.payment>tbody>tr>td{
    padding-bottom: 10px;
    padding-top: 5px;
}
.payment-left{
    padding-right: 40px;
    font-weight: bold;
}
.product_detail_info{
    text-align: left;
    margin-left: 10px;
}
.product_detail_info>textarea{
    width:35%;
    height: 100px;
    border: gray 1px solid;
    border-radius: 7px 7px;;
}
.product_detail{
    display: none;
}
.page{
    float:left;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: -30px;
}
.page>li{
    float:left;
    list-style-type: none;
    text-align: center;
    width: 30px;
    border-bottom: gray 1px solid;
    border-top:gray 1px solid;
}
.page>li>a{
    color: #2DAE4A;
}
.tbl-main-product>tbody>tr>td{
    text-align: left;
}
.product_grid{
    background: white;
}
.product_grid>table{
    width: 100%;
    position: relative;
}
.product_grid>table>tbody>tr>td{
    width:33%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.product_info_left,.product_info_right{
    width: 50%;
    padding: 10px;
    height: 173px;
}
.product_info_left{
    float:left;
    position: relative;
}
.product_info_right{
    float:right;
    text-align: left;
}
.product_info_left img{
    width: 95%;
    border: gray 1px solid;
    border-radius: 7px;
}
.product_info_right>span{
    float:left;
    padding-right: 5px;
}
.product_list{
    display: none;
}
.main_new_product{
    background: #fff;
}
.new_product{
    border: #000 1px solid;
    margin: 20px;   
}
.product_info{
    margin-top: 20px;
    margin-left: 35px;
    position: relative;
    text-align: left;
    margin-bottom: 50px;
}
.product_info>img{
    width:15%;
    float: left;
    margin-right: 20px;
    border-radius: 7px;
}
.product_info>div{
    padding-top: 5px;
}
.product_info>div>label{
    font-size: large;
}
.product_info>div>input,.product_info>div>select, .sale_off_info_right>input,.tbl-left-quotes>input, .tbl-right-quotes>input{
    border: gray 1px solid;
    border-radius: 5px;
    height: 30px;
    background: #e6e7e8;
}
.product_info>div>input{
    width: 30%;
    padding-left: 10px;
}
.product_info>div>select{
    width: 50%;
}
.product_information>.nav-tabs{
    padding-left: 35px;
}
#product_infomation,#product_accountant,#product_sale,#product_warehouse{
    width: 100%;
    position:relative;
}
.product_information>.tab-content>.tab-pane>table{
    width: 100%;
    position: relative;
}
.tbl-left, tbl-right{
    width: 50%;
    position:relative;
}
.tbl-left-new-product,.tbl-right-new-product{
    width:50%;
    position: relative;
    text-align: left;
    padding-top: 10px;
}
.tbl-left-new-product{
    padding-left: 35px;
    float:left;
}
.tbl-right-new-product{
    float:right;
}
.tbl-right-new-product>input,.tbl-right-new-product>select{
    width: 80%;
    border: gray 1px solid;
    padding-left: 10px;
}
.product_description{
    width: 100%;
    text-align: left;
    padding-left: 35px;
    margin-top: 50px;
    position: relative;
}
.product_description>label{
    font-size: large;
}
.product_description>textarea{
    border: gray 1px solid;
    border-radius: 5px;
    width: 50%;
    height: 100px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.product_information>ul>li>a{
    color: #000;
}
#product_warehouse, #product_sale, #product_accountant{
    height: 235px;
}
.nav-sale-off>.line>.nav-right{
    margin-right: 0px;
}
.sale_off_info>table, .quotes_info>table{
    width: 100%;
    position: relative;
}
.sale_off_info_left{
    width: 30%;
}
.sale_off_info_right{
    width: 70%;
    position: relative;
}
.sale_off_info_right>input,.tbl-left-quotes>input, .tbl-right-quotes>input{
    padding-left: 10px;
}
.sale_off_info_left, .sale_off_info_right{
    padding-bottom: 10px;
}
.tbl-sale-off-product{
    margin-top: 15px;
}
.tbl-sale-off-product > tbody > tr > td, .tbl-sale-off-product > tbody > tr > th, .tbl-sale-off-product > tfoot > tr > td, .tbl-sale-off-product > tfoot > tr > th, .tbl-sale-off-product > thead > tr > td, .tbl-sale-off-product > thead > tr > th{
    border: #000 1px solid;
    border-right: none;
}
.tbl-sale-off-product{
    border: #000 1px solid;
}
.sale_off_add :hover{
    text-decoration: underline;
}
#product_apply{
    margin-bottom: 100px;
}
.new_sale_off{
    border: #e6e7e8 1px solid;
}
.tbl-sale-off-product>tbody>tr>td>select{
    border: none;
}
.main_chose_warehouse{
    height: 526px;
    background: #fff;
}
.main_chose_warehouse>#over, .main_chose_warehouse>#over>.option{
    display: block;
}
.main_chose_warehouse>#over>.option{
    position: relative;
    left: 55%;
    top: 15%;
}
.main_chose_warehouse>#over>.option>form>table{
    width: 50%;
    height: 200px;
    margin-left: 25%;
}
.tbl-left-quotes{
    width: 40%;
    float: left;
}
.tbl-right-quotes{
    width: 60%;
    position: relative;
    float:right;
}
.tbl-right-quotes, .tbl-left-quotes{
    text-align: left;
}
.tbl-quotes>thead>tr>th{
    text-align: center;
}
.quotes_info_left, .quotes_info_right{
    padding-bottom: 10px;
}
.quotes_info_left>.tbl-right-quotes>input{
    width: 85%;
}
.order-left>.branches_info_left{
    width: 30% !important;
}
.order-left>.branches_info_right{
    width: 70% !important;
    position: relative !important;
}
.branches_left{
    width: 55%;
    position: relative;
}
.branches_right{
    width: 45%;
    position: relative;
}
.branches_info>table{
    width: 100%;
    position: relative;
}
.branches_receipt{
    position: relative;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-top: #000 1px solid;
    padding-top:5px; 
}
.branches_receipt>div>label{
    float: left;
    width: 17%;
}
.branches_receipt>div>textarea{
    width: 80%;
    border: gray 1px solid;
    height: 150px;
    padding-left: 10px;
    border-radius: 7px;
}
.branches_receipt>div{
    margin-bottom: 20px;
}
.search-buy-date{
    width: 15%;
    position: relative;
}
.search-buy-date>form>.search-date-right{
    width: 100%;
}
.main_buy_new_order,.form-buy-new-order>table{
    background: #fff;
}
.main_buy_new_order{
    border: #000 1px solid;
}
.form-buy-new-order{
    border-bottom: #000 1px solid;
    margin-left: 20px;
    margin-right: 20px;
}
.buy-order-detail{
    margin-top: 20px;
    width: 100%;
    position: relative;
}
.form-buy-new-order>table{
    margin-bottom: 20px;
}
.buy-order-detail>table{
    position: relative;
}
.tbl-order-detail{
    border-top: #000 1px solid;
    border-bottom:  #000 1px solid;
}
.tbl-order-detail>thead>tr>th,.tbl-order-detail>tbody>tr>td{
    border: #000 1px solid;
    text-align: center;
    position: relative;
}
.buy-order-detail>.product_detail_info{
    padding-left: 20px;
    margin-bottom: 30px;
}
.buy-order-detail>.product_detail_info>textarea{
    padding-left: 10px;
}
.tbl-order-detail>tbody>tr>td>select{
    border: none;
}
.product_detail_info_import{
    margin-top: 70px;
}
.left-side-warehouse-manage>ul>li:hover{
    background: none;
}
/*.left-side-warehouse-manage{
    border-right: #000 1px solid;
    margin-top: 0px;
}*/
.tbl-input-warehouse>tbody>tr>td{
    border-left: none;
    text-align: center;
}
.tbl-input-warehouse>thead>tr>td{
    border-left: none;
}
.tbl-input-warehouse{
    border-left:none;
}
.display{
    display: block;
}
.non-display{
    display: none;
}
.main_warehouse_product{
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    border-right: #000 1px solid;
    height: 587px;
}
.account-footer{
    background: white;
    margin-top: -13px;
    height: 50px;
    width: 100%;
    border-bottom: #000 1px solid;
    border-right: #000 1px solid;
    top:641px;
    position: absolute;
}
.account-footer-center,.account-footer-left,.account-footer-right{
    width: 32%;
    padding-top: 15px;
}
.account-footer-center>form>input, .account-footer-left>form>input, .account-footer-right>form>input{
    margin-left: 10px;
    width: 50%;
}
.account-footer-left,.account-footer-center{
    float: left;
}
.account-footer-right{
    float: right;
}
.tbl-account>thead>tr>td, .tbl-account>thead>tr>th{
    height: 47px;
} 
.tbl-account>tbody>tr>td{
    height: 49px;
}
.icon, .icon_product{
    text-align: center;
    padding: 5px;
    margin-left: -1px;
    color: black;
}
.icon_product{
    border: #000 1px solid;
}
.icon:hover, .icon:focus,.icon_product:hover, .icon_product:focus{
    color: white;
    text-decoration: none;
}

.box-active{
    background: black;
}
.list-item,.option-active{
    color: white;
    background: black; 
}
.list-deactive{
    background: none;
}
.icon_product{
    margin-left: -5px;
}
/*.left-side-warehouse-manage ul{
    margin-top: 5px;
}*/
.header-active:hover{
    background-color: #2dae4a !important;
}
.report-table{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    position: relative;
    margin-top: 30px;
}
.form-report{
    padding: 25px 50px;
}
.form-report>table{
    width: 100%;
    position: relative;
}
.report-left{
    margin-left: 5%;
    width: 25%;
    margin-right: 10%;
    text-align: left;
    position: relative;
    padding-bottom: 10px;
}
.report-right{
    margin-right: 10%;
    width: 75%;
    position: relative;
    padding-bottom: 10px;
    text-align: left;
}
.report-right>select{
    width: 90%;
    padding: 5px;
    border-color: silver;
    border-radius: 5px;
}
.report-right>input{
    width: 50%;
    padding: 5px;
    border: gray 2px solid;
    border-radius: 5px;
}
.report-right>input[type=button]{
    width: 150px;
    border: none;
    margin-left: 20px;
    margin-top: 30px;
}
.main_report{
    background: white;
    height: auto;
    height: 533px;
}
.column-charst:hover,.column-charst:focus, .line-charts:hover,.line-charts:focus,.pie-charts:hover,.pie-charts:focus{
    text-decoration: none !important;
    background: gray;
}
.column-charst,.line-charts,.pie-charts{
    width: 50px!important;
    height: 50px !important;
    margin-left: -1px;
    float: left;
    border: #000 1px solid;
}
.pie-charts{
    border-radius: 0px 7px 7px 0px;
}
.column-charst{
    border-radius: 7px 0px 0px 7px;
}
.search-detail,.date_1>input,.date_2>input{
    padding-left: 10px;
    width: 150px;
}
.search_date input{
    width: 130px;
}

.search_date{
    text-align: right;
}
.icon-search{
    width: auto;
    background: #2DAE4A;
    padding: 2px;
    border-radius: 5px;
    color: white;
    font-size: small;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 2px;
}
.icon-search>a,.icon-search>a:hover{
    color:gray;
    text-decoration: none;
    padding: 1px;
    border-radius: 5px;
    margin-top: 2px;
}
.date_1,.date_2{
    text-align: center;
}
.search_date_special>span{
    margin-right: 0px !important;
}

.display-in-line{
    display: inline-block;
}
.input_table{
    width: 90%;
    border:none;
}
.table_title{
    text-align: center;
}
.nav-choose{
    float:left; 
    margin-left: 10px;
}
.choose_orderPrices, .choose_warehouse{
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right:10px;
}

/*SEARCH DATA*/
.search_data{
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #D9D9D9 #CCC #CCC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: absolute;
    z-index: 10;
}
.search_data a{
    color: #000;  
}
.search-hover{
    background: #D9D9D9;
    padding: 0px;
}
.search_data a:hover{
    text-decoration: none;      
}
.search_data>ul{
    margin:0px;
    padding: 0px;
}
.search_data ul li{
    list-style-type: none;   
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .search_date input:first-child{
        margin-right: -4px;
    }
}