.dropdown-menu-2{
	background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    font-size: 14px;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    opacity: 1;
    padding: 5px;
    position: absolute;
    top: 25px;
    transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
    z-index: 1050;
	
}

.dropdown-menu-2  input {
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    color: white;
}