<meta charset="utf-8">
<style type='text/css'>
	.left_main, .right_main{
		float:left;
		padding: 10px;
		border-right:1px solid #ccc;
	}
	.table_input{
		background-color:white; border:1px white solid;
	}
	#notification_div{
		background: tan;
		border-color: #ccc;
		border-radius: 5px;
		border-style: solid;
		border-width: 0 1px 0 0;
		color: white;
		float: right;
		padding: 10px;
		font-size: 10pt;
	}
</style>
<script src="http://ligker.net/default_library_4/js/script.js"></script>