	<table style="width:600px;margin:auto;">
		{foreach $item_list.fields key=field_k item=field_value}
			{if $field_value.COLUMN_KEY ne "PRI"}				
				{$cur_value	= $data.item_list.0.{$field_value.column_name}}
				{$cur_value	= str_replace("<br>", "\n", {$cur_value})}
				{$cur_value	= str_replace("<br/>", "\n", {$cur_value})}
				{$cur_value	= str_replace("<br />", "\n", {$cur_value})}
				{$field_name = $data.fields.{$field_k}.column_name}
				{if $field_value.view_file}
					{include file="{$field_value.view_file}"}
				{else}
					<div class="form-group">
	<tr>
	<td><label>{$this_view->translator("{$field_value.label}")}</label></td>
	<td style='width:400px'>
		{if $item_list.fields.{$field_k}.REFERENCED_TABLE_NAME}						
		<select id="field_{$field_name}" class='form-control' 
			name='item_field[{$field_name}]' onchange='javascript:'>
			{$data.item_list.0.drop_down_list.{$data.fields.{$field_k}.column_name}}
		</select>
		<span ></span>
		{else}							
			<input id="field_{$field_name}" class='form-control' type='text' name='item_field[{$field_value.column_name}]'
			value="{$cur_value}">
		{/if}
	</td>					
	</tr>					
					</div>
				{/if}
			{/if}
		{/foreach}
		</table>
		<div style='display:none;'>
		<input type="text" name="action" value="item_update">
		<input type="text" name="args" value="{$smarty.get.args}">
		<input type="text" name='controller' value="{$item_list.cur_class}">
		</div>
<div class="form-group" style="">		
<style>
	.order_line{
		border:none;
		
	}
</style>
<table class="table table-bordered table-hover" style='margin-top:20px;'>
	<tr>
	<td>Nhóm sản phẩm</td>
	<td>Sản phẩm áp dụng</td>
	<td>Số lượng mua tối thiểu</td>
	<td>(%)chiết khấu</td>
	<td>Sản phẩm khuyến mại</td>
	<td>Số lượng khuyến mại</td>
	<td>Del</td>
	</tr>
	<tr>
	{for $i=0 to 5}
	<td style='width:200px;padding:8px 0;'><input type='text' name='product_category' class='order_line'></td>
	{/for}
	<td>Del</td>
	</tr>
</table>		
</div>		
		<button  type='submit' class="btn btn-primary btn-sm">SUBMIT</button>
	