	<script language="javascript" type="text/javascript" 
		src="{$page_class->default_library}js/script.js"></script>
	<script language="javascript" type="text/javascript" 
		src="{$page_class->default_library}jquery/1.11.3/jquery.min.js"></script>	
	<!--script language="javascript" type="text/javascript" 
		src="{$page_class->default_library}bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script -->		
	<link rel="stylesheet" type="text/css" href="{$page_class->default_library}css/style.css">

	
	
	<!---------------------------------------------------------------------------------------------->
	<script language="javascript" type="text/javascript" 
	src="{$page_class->config_dir.root_url}{$page_class->config_dir.application_folder}library/js/script.js">
	</script>
	<link rel="stylesheet" type="text/css" 
	href="{$page_class->config_dir.root_url}{$page_class->config_dir.application_folder}library/css/style.css">	
	<script src="{$page_class->default_library}gwt/gwt_tool/war/gwt_tool/gwt_tool.nocache.js">
		</script>

	 