body {
margin:0px;
font-family: Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:Arial,Helvetica,sans-serif;
}
.table > thead > tr > th , .table > tfoot > tr > th{
	vertical-align:middle;
	text-align:center;
}
#update_result{
	text-align:center;
}
.form-box {
    margin: 50px auto 30px;
}	
.login_error{
	color:red;
	font-style:italic;
}
.login_success{
	color:blue;
	font-style:italic;
}
#edit_frm_item{

}
#submit_response{
	
}
#popup_window{
	height:auto;	
}
.cur_thumb{ 
	background:#990000;
	color:white;
}
input[type="file"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}
.item_pages_sl{
	border: 1px solid #CCCCCC;
	border-radius: 0;
	height: auto;
	margin: 0 0 2px;
	padding: 0;
	width: 45px;
}
.navbar-nav{

}
.sidebar{
	
}
h3{
font-family: Arial,Helvetica,sans-serif;
}
.row_deleted{
	background:red;
	color:white;
}
.row_active{
	color: #0000FF;
}

.gwt-PopupPanel {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    opacity: 1;
    outline: 0 none;
    padding: 30px;
    right: 0;
    top: 0;
    transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
    width: auto;
    z-index: 1050;
}
.gwt-HTML{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-PopupPanel .popupContent{

opacity: 1;
padding:0px;
}
.gwt-Popup-Title{
background: none repeat scroll 0 0 #3D9970;
color: #FFFFFF;
font-weight: bold;
margin: 0px;
padding: 5px 10px;
}
table{
	width:100%;
	background: none repeat scroll 0 0 #FFFFFF;
}
.popup_frm{
	background: none repeat scroll 0 0 #FFFFFF;
}


.my_btn{
	background-color:#3c8dbc;
	border-radius:2px;
	box-shadow:
	0px 2px 2px 0px rgba(0, 0, 0, 0.5),
	0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
	padding: 10px 20px;
	color:white;
	text-decoration: none;
	margin: 0px;
}
.my_btn:hover{
	color:white;
}
.my_btn:focus{
	color:white;
}
.my_btn:active{
	background-color:#367fa9;
	color:#367fa9;
	box-shadow:
	0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
	0px 2px 2px 0px rgba(255, 255, 255, 0.5);
	
}
.details_col{
	width:65px;
	text-align:center;
	border-top:none;
}
.details_titlte{
	padding: 5px 10px 0 0;
    text-align: right;
    vertical-align: top;
    width: 30%;
}
.box .box-body{
	min-height:100px;
}

.box .box-footer{
	text-align:right;
}

a:hover {
	text-decoration: none;
}

.hide_class{
	display:none;
}
.popup_main{
	padding:30px 10px 10px;
}
.popup_title{
	background: none repeat scroll 0 0 #1B3178;
	border-radius: 3px 3px 0 0;
	float: left;
	font-weight: bold;
	padding: 0;
	width: 100%;
	color: white;
}
.popup_title .pt_left{		
	float: left;
	padding: 2px 10px;
}
.popup_title .pt_close {
	color:white;
	text-decoration:none;	
	float: right;
	font-size: 11pt;
	padding: 2px;
}
.popup_frm2 , .popup_frm2 table{
	margin: auto;
	width:100%;margin-top:50px;
}
.popup_background2 table{
	width:100%;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.popup_background{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border: medium none;
	bottom: 0;
	left: 0;
	margin: 0;
	opacity: 1;
	overflow: auto;
    position: fixed;
	right: 0;
	top: 0;
	width: 100%;
    z-index: 999995;
	
}
.popup_content{
	background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    margin: 20px;    
    position: relative;
	border-radius: 3px;	
	max-width: auto;	
}
.popup_header{
	background: none repeat scroll 0 0 #3D9970;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding: 5px 10px;
	border-radius: 3px 3px 0 0;
    width: 100%;
}
.popup_close_btn:hover{
	background:#367FA9;
	border-radius:3px;
}
.popup_close_btn{
	float:right;
	padding: 0 5px;
}
#item_edit_frm {
	margin-top: 15px;
    padding: 10px;  
}
.edit_field_frm{
	margin-bottom:10px;
}
.content {
	min-height:450px;
	
}


.table-bordered > tbody > tr > .table_input {
   padding:0 3px;border:none;vertical-align: middle;height: 40px;
}

.dl-horizontal dt {
	text-align: left;
	 margin-bottom: 5px;
}